.carousel-item img{
	height: 500px;
}
.container{
	
}
.dev{
	text-color:red;
}

.products {
  background-color: green;
  opacity: .7;
color: #FFFFFF;
}
.footer{
	color: #FFFFFF;
}
.rahim{
	padding-left: 55px;
}
.prof{
	padding-left: 110px;
}